In [2]:
# Load processed data from previous step
import pandas as pd
Data_path = "/home/danial/Data Science/Churn Prediction/Data/Processed/telco_featured.csv"
df = pd.read_csv(Data_path)
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,TotalCharges,Churn,AvgChargesPerMonth,ChargeDiff,ChargeDiffPerc,tenure_group,NumServices,HasInternet,ChurnFlag,gender_Male
0,Female,0,1,0,1,0,0,DSL,0,1,...,29.85,No,29.850000,0.00,0.000000,0-12,1,1,0,0
1,Male,0,0,0,34,1,0,DSL,1,0,...,1889.50,No,55.573529,-46.80,-0.024768,24-48,3,1,0,1
2,Male,0,0,0,2,1,0,DSL,1,1,...,108.15,Yes,54.075000,0.45,0.004161,0-12,3,1,1,1
3,Male,0,0,0,45,0,0,DSL,1,0,...,1840.75,No,40.905556,-62.75,-0.034089,24-48,3,1,0,1
4,Female,0,0,0,2,1,0,Fiber optic,0,0,...,151.65,Yes,75.825000,10.25,0.067590,0-12,1,1,1,0

In [3]:
# Identify categorical columns and apply One-Hot Encoding
categorical_cols = df.select_dtypes(include=['object']).columns
df_encoded = pd.get_dummies(df, columns=categorical_cols, drop_first=True)
df_encoded.head()

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,...,InternetService_No,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn_Yes,tenure_group_12-24,tenure_group_24-48,tenure_group_48+
0,0,1,0,1,0,0,0,1,0,0,...,False,False,False,False,True,False,False,False,False,False
1,0,0,0,34,1,0,1,0,1,0,...,False,True,False,False,False,True,False,False,True,False
2,0,0,0,2,1,0,1,1,0,0,...,False,False,False,False,False,True,True,False,False,False
3,0,0,0,45,0,0,1,0,1,1,...,False,True,False,False,False,False,False,False,True,False
4,0,0,0,2,1,0,0,0,0,0,...,False,False,False,False,True,False,True,False,False,False

In [4]:
# Scale numerical features using StandardScaler
from sklearn.preprocessing import StandardScaler

num_cols = df_encoded.select_dtypes(include=['int64','float64']).columns
scaler = StandardScaler()
df_encoded[num_cols] = scaler.fit_transform(df_encoded[num_cols])
df_encoded.head()

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,...,InternetService_No,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn_Yes,tenure_group_12-24,tenure_group_24-48,tenure_group_48+
0,-0.439916,1.034530,-0.654012,-1.277445,-3.054010,-0.854176,-0.633933,1.378241,-0.723968,-0.639439,...,False,False,False,False,True,False,False,False,False,False
1,-0.439916,-0.966622,-0.654012,0.066327,0.327438,-0.854176,1.577454,-0.725563,1.381277,-0.639439,...,False,True,False,False,False,True,False,False,True,False
2,-0.439916,-0.966622,-0.654012,-1.236724,0.327438,-0.854176,1.577454,1.378241,-0.723968,-0.639439,...,False,False,False,False,False,True,True,False,False,False
3,-0.439916,-0.966622,-0.654012,0.514251,-3.054010,-0.854176,1.577454,-0.725563,1.381277,1.563872,...,False,True,False,False,False,False,False,False,True,False
4,-0.439916,-0.966622,-0.654012,-1.236724,0.327438,-0.854176,-0.633933,-0.725563,-0.723968,-0.639439,...,False,False,False,False,True,False,True,False,False,False

In [5]:
num_cols = ['tenure','MonthlyCharges','TotalCharges','AvgChargesPerMonth','ChargeDiff','ChargeDiffPerc','NumServices','HasInternet','ChurnFlag','gender_Male']
corr_matrix = df_encoded[num_cols].corr().abs()
corr_matrix

,tenure,MonthlyCharges,TotalCharges,AvgChargesPerMonth,ChargeDiff,ChargeDiffPerc,NumServices,HasInternet,ChurnFlag,gender_Male,gender_Male
tenure,1.000000,0.247900,0.824757,0.247234,0.034484,0.006711,0.523600,0.039062,0.352229,0.005106,0.005106
MonthlyCharges,0.247900,1.000000,0.650468,0.996244,0.020553,0.000785,0.802322,0.763557,0.193356,0.014569,0.014569
TotalCharges,0.824757,0.650468,1.000000,0.650323,0.027233,0.036973,0.796276,0.374263,0.199428,0.000048,0.000048
AvgChargesPerMonth,0.247234,0.996244,0.650323,1.000000,0.013733,0.058427,0.800366,0.760129,0.192531,0.015294,0.015294
ChargeDiff,0.034484,0.020553,0.027233,0.013733,1.000000,0.729835,0.006258,0.027689,0.018877,0.001555,0.001555
ChargeDiffPerc,0.006711,0.000785,0.036973,0.058427,0.729835,1.000000,0.025388,0.011837,0.023740,0.006956,0.006956
NumServices,0.523600,0.802322,0.796276,0.800366,0.006258,0.025388,1.000000,0.545546,0.067264,0.016825,0.016825
HasInternet,0.039062,0.763557,0.374263,0.760129,0.027689,0.011837,0.545546,1.000000,0.227890,0.006026,0.006026
ChurnFlag,0.352229,0.193356,0.199428,0.192531,0.018877,0.023740,0.067264,0.227890,1.000000,0.008612,0.008612
gender_Male,0.005106,0.014569,0.000048,0.015294,0.001555,0.006956,0.016825,0.006026,0.008612,1.000000,1.000000
gender_Male,0.005106,0.014569,0.000048,0.015294,0.001555,0.006956,0.016825,0.006026,0.008612,1.000000,1.000000

In [20]:
# Drop highly correlated or duplicate columns
cols_to_drop = ['AvgChargesPerMonth', 'gender_Male']  # AvgChargesPerMonth is almost identical to MonthlyCharges; gender_Male is duplicate
df_final = df_encoded.drop(columns=cols_to_drop, errors='ignore')

# Quick check
print("Columns dropped:", cols_to_drop)
df_final = df_final.rename(columns={"Churn_Yes": "Churn"})
df_final.head()

Columns dropped: ['AvgChargesPerMonth', 'gender_Male']

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,...,InternetService_No,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn,tenure_group_12-24,tenure_group_24-48,tenure_group_48+
0,-0.439916,1.034530,-0.654012,-1.277445,-3.054010,-0.854176,-0.633933,1.378241,-0.723968,-0.639439,...,False,False,False,False,True,False,False,False,False,False
1,-0.439916,-0.966622,-0.654012,0.066327,0.327438,-0.854176,1.577454,-0.725563,1.381277,-0.639439,...,False,True,False,False,False,True,False,False,True,False
2,-0.439916,-0.966622,-0.654012,-1.236724,0.327438,-0.854176,1.577454,1.378241,-0.723968,-0.639439,...,False,False,False,False,False,True,True,False,False,False
3,-0.439916,-0.966622,-0.654012,0.514251,-3.054010,-0.854176,1.577454,-0.725563,1.381277,1.563872,...,False,True,False,False,False,False,False,False,True,False
4,-0.439916,-0.966622,-0.654012,-1.236724,0.327438,-0.854176,-0.633933,-0.725563,-0.723968,-0.639439,...,False,False,False,False,True,False,True,False,False,False

In [23]:
df = df.drop(columns=['ChurnFlag'], errors='ignore')

In [24]:
# Convert all boolean columns to int (0/1)
bool_cols = df_final.select_dtypes(include=['bool']).columns
df_final[bool_cols] = df_final[bool_cols].astype(int)

# Save the final preprocessed dataset
final_path = "/home/danial/Data Science/Churn Prediction/Data/Processed/final_preprocessed.csv"
df_final.to_csv(final_path, index=False)
print(f"Final dataset saved to: {final_path}")

# Quick check
df_final.head()

Final dataset saved to: /home/danial/Data Science/Churn Prediction/Data/Processed/final_preprocessed.csv

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,...,InternetService_No,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn,tenure_group_12-24,tenure_group_24-48,tenure_group_48+
0,-0.439916,1.034530,-0.654012,-1.277445,-3.054010,-0.854176,-0.633933,1.378241,-0.723968,-0.639439,...,0,0,0,0,1,0,0,0,0,0
1,-0.439916,-0.966622,-0.654012,0.066327,0.327438,-0.854176,1.577454,-0.725563,1.381277,-0.639439,...,0,1,0,0,0,1,0,0,1,0
2,-0.439916,-0.966622,-0.654012,-1.236724,0.327438,-0.854176,1.577454,1.378241,-0.723968,-0.639439,...,0,0,0,0,0,1,1,0,0,0
3,-0.439916,-0.966622,-0.654012,0.514251,-3.054010,-0.854176,1.577454,-0.725563,1.381277,1.563872,...,0,1,0,0,0,0,0,0,1,0
4,-0.439916,-0.966622,-0.654012,-1.236724,0.327438,-0.854176,-0.633933,-0.725563,-0.723968,-0.639439,...,0,0,0,0,1,0,1,0,0,0